<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="AutoCodeFix" switchValue="Warning">
        <listeners>
          <add name="file"
               type="System.Diagnostics.TextWriterTraceListener"
               initializeData="ProjectReader.log" 
               traceOutputOptions="None" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>